[submodule "external/objcomp"]
	path = external/objcomp
	url = git@github.com:xzrunner/objcomp.git
[submodule "external/sm"]
	path = external/sm
	url = git@github.com:xzrunner/sm.git
[submodule "external/guard"]
	path = external/guard
	url = git@github.com:xzrunner/guard.git
[submodule "external/ogdf"]
	path = external/ogdf
	url = git@github.com:ogdf/ogdf.git
